*{
    /* background-color:rgb(9, 8, 8); */
}
/* .hambar{
    height: 20px;
    width: 50px; */
/* } */
.logo{
    display: flex;
    gap: 15px;
}
/* .youtubelogo{
    margin:100px;
    height:20px ;
    width: 50px;
} */
.home{
    display:flex;
    gap: 15px;
    width: 100px;
    height: 30px;
/* background-color: grey; */
text-align: center;
}
.home{
    display:flex;
    gap: 15px;
    width: 100px;
    height: 30px;
    padding: 5px;
    /* margin-top: 30px */
}
.explores{
    display:flex;
    gap: 15px;
    width: 100px;
    height: 30px;
    padding: 10px;
}
.short{
    display:flex;
    gap: 15px;
    width: 100px;
    height: 30px;
    padding: 10px;
}
.subscription ,.subscription,.lib, .history , .yourvideos, .watchlater  , .likedvideos , .subscription , .showmore,.figma,.c1,.c2,.c3,.c5,.c6{
    display:flex;
    gap: 15px;
    width: 100px;
    height: 30px;
    padding: 10px;
}
.sidebar{
    /* background-color: antiquewhite; */
    height: 1000px;
    width: 200px;
    z-index: -1;
    left: 0px;
border: 3px solid grey;
padding: 10px;
background-color:rgb(48, 40, 40);
}
hr{
    color: rgb(69, 68, 68);

}
.imp{
    display: flex;
    gap: 00px;
    margin: 50px;
}
.main-slidebar{
    /* display: flex;  */
    /* gap: 200px; */
}
.another{
display:flex;
gap: 30px;
top: 0px;
/* background-color: black; */
padding-left: 500px;
}
.vdopage{
    justify-content: space-around;
    /* background-color: black; */
    /* border: 3px solid blue; */
    width:1000px ;
    /* left: ; */
}
.hr2{
    width: 1300px;
}
.search{
    background-color: rgb(12, 11, 11);
    width: 200px;
    margin: 1px;
    bottom: 20px;
}
.two{
    background-color: rgb(113, 107, 107);
    display: flex;
}
.idea{
    display:flex ;
    gap: 30px;
    padding: 2px;
    margin-left: 50px;
    /* background-color: black; */
}
.something{
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: rgb(85, 80, 80);
    height: 25px;
    /* padding: 7px; */
    /* width: 100px; */
}
.t1,.t2,.t3{
    display: flex;
    gap: 30px;
    height: 150px;
    padding-left: 50px;
    padding: 50px;
}
.creator{
    margin:20px;
    margin-left: 0;
}

